@font-face {
    font-family: 'MyFont';
    src: url('./icons/BioRhyme-Bold.ttf') format('truetype'),
        url('/src/icons/BioRhyme-ExtraBold.ttf') format('ttf');
}

body {
    margin: 0;
    padding: 0;
     /* Replace with your desired background color */
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(#a23982, #1f1013);
    overflow: hidden;
    
        
    } 
        

:root {
    --light-blue: #ADD8E6;
    --light-gray: #D3D3D3;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-rows: 1fr 11fr 0.3fr;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    overflow: hidden;
}

.header {
    grid-area: header;
    background-image: url(icons/purple.jpg);
    background-size: cover;
    /* Resizes the background image to cover the entire header */
    background-position: center;
    /* Centers the background image within the header */
    opacity: 0.8;
    padding: 20px;
    /* color: var(--light-blue); */
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
}

.header-icon {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    justify-self: center;
        place-self: center;


}

.header-icon img {
    width: 100px;
    height: 100px;
    background-color: white;
        
        border-radius: 80px;
       
    
   
}

.header-name {
    font-size: 90px;
    color: white;
    font-weight: bolder;
    white-space: nowrap;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    /* Set the white shadow around the edges */
    margin-left: 10px;
}

.sidebar {
    grid-area: sidebar;
    
    padding: 10px;
    color: #fff;
    
}

.content {
    grid-area: content;
    
    background-image: url(icons/purple-background-light-purple-center-crackled-glass-texture-design-abstract-color-splash-across-dark-border-pretty-46703603.jpg) !important;
    background-size: cover !important;
    padding: 20px;
    overflow-y: auto;
    border-top: 3px solid white;
    overflow-x: hidden;
}

.footer {
    grid-area: footer;
    
    border-top: 1px solid white;
    padding: 3px;
    color: white;
    text-align: center;
    font-size: 20px;
    
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 8fr;
    border-top: 3px solid white;
    border-right: 3px solid white;
    gap: 15px;
    width: 250px;
    box-sizing: border-box;
    padding-top: 30px;
    overflow: hidden;
}

.icons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
    gap: 25px;
    grid-template-columns: auto;
    align-items: center;
    place-items: end;
}

.icons img {
    width: 45px;
    height: 45px;
}

.todos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
    gap: 30px;
    grid-template-columns: auto;
    font-size: 25px;
    justify-content: start;
    place-items: start;
    margin-top: 10px;
}
.work {
    margin-top: -7px;
}
.highlighted {
    color: #ffffff;
    /* Set the text color to white */
    font-weight: bold;

    /* Adjust the font size to your preference */
    background-color: purple;
    /* Set the background color to light blue */
    padding: 5px 10px;
    margin-left: 20px;
    /* Add some padding for spacing */
    border-radius: 5px;
    opacity: 0.9;
    transform: scale(1.3);

    /* Add rounded corners */
}

/* Add styles for the "Today" category icon */
.highlighted-icons img {
    transform: scale(1.4);
    /* Set the height of the icon */
    fill: #55a7ee;
    /* Set the color of the icon to match the background */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    /* Add a drop shadow effect */
}

.selection {
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.content {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}

.newProject {
    /* height: 20px;
    width: 100px; */
    justify-self: end;
}

.blur>*:not(.form-container) {
    filter: blur(5px);
}

/* CSS */
/* CSS */
/* CSS */
/* CSS */
/* Form container */
.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 4px solid purple;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.form {
    display: grid;
    gap: 20px;
}

.form label {
    font-weight: bold;
    
}

.form select,
.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid plum;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #333333;
}

.form select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23000000' d='M8 3L5 6V0zM0 3l3-3h2v6H3L0 3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px;
}

.form textarea {
    resize: vertical;
}

.form button[type="submit"] {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
    background-color: #0056b3;
}

.form button[type="submit"]:focus {
    outline: none;
}

/* Additional Styling */

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form label {
    margin-bottom: 2px;
}



.form textarea {
    min-height: 30px;
    max-height: 50px;
    overflow-y: auto;
}

.form button[type="submit"] {
    width: 50%;
    margin-top: 30px;
    margin-left: 200px;
}

.form input[type='date'] {
    border-color: purple;
        background-color: lavender;
}

.priority-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 2px solid transparent;
    
    
    
        
        animation: glowingEffect 2s ease-in-out infinite;
    }
    
    @keyframes glowingEffect {
        0% {
            box-shadow: 0 0 3px 2px rgba(239, 9, 255, 0.817);
            transform: scale(0.9);
        }
    
        50% {
            box-shadow: 0 0 5px 3px rgba(239, 9, 255, 0.817);
            transform: scale(0.95);
        }
    
        100% {
            box-shadow: 0 0 3px 2px rgba(239, 9, 255, 0.817);
            transform: scale(0.9);
        }
    
}

.priority-circle.selected {
    display: inline-block;
    border: 5px solid purple;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.priority-circle.gray {
    background-color: gray;
}

.priority-circle.blue {
    background-color: blue;
}

.priority-circle.red {
    background-color: red;
}



/* .newPost:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(93, 93, 93, 0.25);
} */

.newPost .title {
    font-weight: bold;
}

.content {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-auto-rows: min-content;
    transition: height 0.3s ease-in-out;
    grid-template-areas:
        "selection newpost newproject";
    justify-items: center;
    align-items: start;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    overflow-y: auto;
}


.selection {
    grid-area: selection;
}

.newProject {
    grid-area: newproject;
}

.newPostWrapper:nth-child(1) {
    grid-area: newpost;
    
   
}
.newPostWrapper {
    grid-column: newpost;
    
  
 
}



/* Customize the label (the checkbox) */
.checkbox-input {
    display: block;
    position: relative;
    margin-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-input input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-input label {
    cursor: pointer;
    font-size: 14px;
}

/* Create a custom checkbox */
.checkbox-input .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 2.5px solid purple;
    border-radius: 30px;
    background-color: transparent;
    transition: .2s linear;
}

.checkbox-input input[type="checkbox"]:checked~.checkmark {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-input .checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 40%;
    width: 10px;
    height: 27px;
    border: 2px solid rgb(255, 0, 144);
    filter: drop-shadow(0px 0px 5px rgb(69, 0, 69)) drop-shadow(0px 0px 5px rgb(56, 0, 56)) drop-shadow(0px 0px 10px rgb(56, 0, 56));
        /* Multiple drop-shadow values */
    border-width: 0 2.5px 2.5px 0;
    transition: .2s linear;
    transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

/* Show the checkmark when checked */
.checkbox-input input[type="checkbox"]:checked~.checkmark:after {
    visibility: visible;
    opacity: 1;
    
    transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
    animation: pulse 1s ease-in;
}

.checkbox-input input[type="checkbox"]:checked~.checkmark {
    transform: rotate(45deg);
    border: none;
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
    }
}

.newPost {
    display: grid;
    grid-template-columns: 1.7fr 5fr 3fr;
    grid-template-rows: 1fr 1r 5fr;
    grid-template-areas:
        "priority title delete"
        "checkbox title category"
        "checkbox dueDate category";
    grid-gap: 10px;
    grid-column-gap: 17px;
    padding: 10px;
    height: 70px;
    width: 720px;
    border-top-right-radius: 50px;
    /* border-bottom: 2px solid white; */
    
    background-color: rgba(27, 27, 27, 0.5);
    overflow: visible;
    clip-path: polygon(30px 0, 820px 0, 820px 100px, 0 100px);
    border-bottom: 2px solid #e8adc7;
    animation: glowingBord 1.5s ease-in-out infinite;
    position: relative;
}

@keyframes glowingBord {
    0% {
        box-shadow: 0 0 10px #FD3084;
    }

    50% {
        box-shadow: 0 0 15px #FD3084;
    }

    100% {
        box-shadow: 0 0 10px #FD3084;
    }
}



.dueDate {
    grid-area: dueDate;
    color:rgb(168, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    
        
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        animation: glowing 2s ease-in-out infinite alternate;
    }
    
    @keyframes glowing {
        0% {
            text-shadow: 0 0 2px rgb(0, 0, 0);
        }
    
        100% {
            text-shadow: 0 0 4px rgb(0, 0, 0);
        }
    }
    

.deleteButton {
    grid-area: delete;
    width: 15px;
        height: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
         /* margin-right: 50px;  */
       
       
       
    }
    
    .deleteButton,
    .deleteButton span {
        transition: 200ms;
    }
    
    
    
    .deleteButton .icon {
        position: absolute;
       
       
        transform: translateX(110px);
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .deleteButton svg {
        width: 15px;
        fill: #ff5c92;
        margin-right: 36px;
    }
    
    
    
    .deleteButton:hover .text {
        color: transparent;
    }
    
    .deleteButton:hover .icon {
        width: 150px;
        border-left: none;
        
        transform: translateX(0);
    }
    
    .deleteButton:focus {
        outline: none;
    }
    
    .deleteButton:active .icon svg {
        transform: scale(0.8);
    }


.titlePart {
    grid-area: title;
    color: white;
        font-size: 28px;
        text-align: start;
        align-self: end;
        /* margin-left: 7px; */
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    white-space: nowrap;
    width: 550px;
       
    }
    
    

.checkbox-input {
    grid-area: checkbox;
    
}

.priorityPart {
    grid-area: priority;
    
    justify-self: end;
    
        
        
    
    
}

.categoryPart {
    grid-area: category;
    justify-self: end;
    place-self: end;
    padding: 0.5em 2em 0.5em 2.5em;
        font-size: 0.5em;
        font-weight: bold;
        border-radius: 15px;
        color: #fff6fb;
        letter-spacing: 0.3em;
        text-shadow: -2px 2px 5px #FD3084;
        background-color: transparent;
        border: 2px solid #FEB1DE;
        box-shadow: 0 0 0px 1px #F11271,
            0 0 10px 2px #FD3084,
            inset 0 0 0px 1px #F11271,
            inset 0 0 10px 2px #FD3084;
        transition: 100ms;
        /* margin-bottom: 5px; */
    }
    
    .categoryPart:hover {
        box-shadow: 0 0 0px 1px #F11271,
            0 0 10px 2px #FD3084,
            inset 0 0 0px 1px #F11271,
            inset 0 0 30px 2px #FD3084;
        text-shadow: 0 0 10px #FD3084;
        transform: translateY(-5px);
    }
    
      
.describtionPart {
    display: none;
    min-height: 10px;
        width: 710px;
    background-color: rgba(27, 27, 27, 0.5);
    font-size: 17px;
    text-align: start;
    font-weight: bold;
    white-space: pre-wrap;
    color: white;
    padding: 15px;
    overflow: auto;
        
        border-bottom: 2px solid #e8adc7;
        animation: glowingBord 1.5s ease-in-out infinite;
        
    
    
}
.describtionPart:focus {
    border: 2px solid rebeccapurple;
    /* Apply your desired border style when focused */
    outline: none;
    /* Remove the default outline */
}


.describtionPart.show {
    display: block;
}

.content {
    background: #3a3a3a;
        /* fallback for old browsers */
        /* background: -webkit-linear-gradient(to right, #89fffd, #ef32d9); */
        /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to right, #89fffd, #ef32d9); */
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.newProject {
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}