@font-face {
    font-family: 'MyFont';
    src: url('./icons/BioRhyme-Bold.ttf') format('truetype'),
         url('/src/icons/BioRhyme-ExtraBold.ttf') format('ttf');
        

}
body {
    margin: 0;
    padding: 0;
    /* Replace with your desired background color */
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --light-blue: #ADD8E6;
    --light-gray: #D3D3D3;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-rows: 1fr 11fr 1fr;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-image: url(icons/mountain.jpg);
    background-size: cover;
        /* Resizes the background image to cover the entire header */
        background-position: center;
        /* Centers the background image within the header */
    opacity: 0.8;
    padding: 20px;
    color: var(--light-blue);
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    
}
.header-icon img {
  width: 90px;
  height: 90px;
  
}
.header-name {
    font-size: 90px;
    font-weight: bolder;
    white-space: nowrap;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
        /* Set the white shadow around the edges */
    
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--light-blue);
    padding: 20px;
    color: #fff;
}

.content {
    grid-area: content;
    background-color: var(--light-gray);
    padding: 20px;
    overflow-y: auto;
    border-top: 3px solid white;
}

.footer {
    grid-area: footer;
    background-color: white;
    padding: 3px;
    color: #333;
    text-align: center;
    font-size: 25px;
    overflow: hidden;
  
    
}


.sidebar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    
}
.icons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
    gap: 15px;
    grid-template-columns: auto;
}
.icons img {
    width: 35px;
    height: 35px;
}

.todos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr;
    gap: 17px;
    grid-template-columns: auto;
    font-size: 25px
}

.selection {
    color: white;
    font-size: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.newProject {
    height: 20px;
    width: 100px;
    justify-self: end;
}

.blur>*:not(.form-container) {
    filter: blur(5px);
}
/* CSS */
/* CSS */
/* CSS */
/* CSS */
/* Form container */
.form-container {
    display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 4px solid lightblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}
.form {
    display: grid;
    gap: 20px;
}
.form label {
    font-weight: bold;
}

.form select,
.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #C9D6DF;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #333333;
}

.form select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23000000' d='M8 3L5 6V0zM0 3l3-3h2v6H3L0 3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px;
}

.form textarea {
    resize: vertical;
}

.form button[type="submit"] {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
    background-color: #0056b3;
}

.form button[type="submit"]:focus {
    outline: none;
}

/* Additional Styling */

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form label {
    margin-bottom: 2px;
}

.form textarea {
    min-height: 30px;
    max-height: 50px;
    overflow-y: auto
}

.form button[type="submit"] {
    width: 50%;
    margin-top: 30px;
    margin-left: 200px;
}

.priority-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 2px solid transparent;
    margin-top: 10px;
}

.priority-circle.selected {
    
    display: inline-block;
    border: 5px solid lightblue;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
       
}

.priority-circle.gray {
    background-color: gray;
}

.priority-circle.blue {
    background-color: blue;
}

.priority-circle.red {
    background-color: red;
}

.newPost {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 20px 20px rgba(84, 84, 84, 0.15);
        transition: all .4s ease;
}
.newPost:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(93, 93, 93, 0.25);
}

.newPost .title {
    font-weight: bold;
}


.content {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
            "selection newpost newproject";
            
            
    justify-items: center;
        align-items: start;
        gap: 30px;
        
}
.selection {
    grid-area: selection;
}
.newProject {
    grid-area: newproject;
    
    
}
.newPost {
    grid-area: newpost;
    
    
    

}
.newPost:nth-child(1) {
    grid-area: newpost;
    /* Add this line to position the first newPost element */
}

.newPost:nth-child(n+2) {
    grid-row-start: span 2;
    /* Add this line to push subsequent newPost elements down by 1 row */
}

.checkbox-input {
    height: 20px;
    width: 20px;
}

.newPost {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
        "priority title delete"
        "checkbox description category"
        ". . .";
    grid-gap: 10px;
    height: 70px;
    width: 900px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: rgba(229, 229, 229, 0.5);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 50px;
}


.deleteButton {
    grid-area: delete;
    height: 20px;
    
}

.titlePart {
    grid-area: title;
}

.checkbox-input {
    grid-area: checkbox;
  
}

.priorityPart {
    grid-area: priority;
    height: 10px;
   
}

.categoryPart {
    grid-area: category;
    justify-self: end;
    place-self: end;

}

.describtionPart {
    grid-area: description;
}

.content {
    background: linear-gradient(-45deg, #bdc3c7, #ffffff, #b3e6ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

